{% extends 'base.html' %}
{% block body %}

<div class="r1">
    <div class="r1c1">
        <form method="POST">
            <h3>Entry</h3>
            <input class='form-item' type='text' name='Reg_num' placeholder="Plate number"/>
            <input class='form-item' type='text' name='Color' placeholder="ownder name"/>
            <input class='form-item' type='number' name='PersonID' placeholder="owner name"/>
            <input class='form-item' type='submit'></input>
        </form>
    </div>
    <!-- <div class="r1c2">
        <form method="POST">
            <h3>Exit</h3>
            <input class='form-item' type='text' name='plate' placeholder="Plate number"/>
            <input class='form-item' type='text' name='color' placeholder="ownder name"/>
            <input class='form-item' type='text' name='plate' placeholder="Plate number"/>
            <input class='form-item' type='text' name='name' placeholder="owner name"/>
            <input class='form-item' type='submit'></input>
        </form>
    </div> -->
</div>

{% endblock %}