{% extends 'base.html' %}
{% block body %}

<div class="r1">
    <div class="r1c1">
        <div class="form-group">
            <form method="POST">
                <h3>ENTRY</h3>
                <input id='formentry'class='form-control form-item' type='text' name='Reg_num' placeholder="Plate number"/>
                <input class='form-control form-item' type='number' name='Owner_ID' placeholder="Owner ID"/>
                <input class='form-control form-item' type='text' name='Model_name' placeholder="Car model"/>
                <input class='form-control form-item' type='text' name='V_Type' placeholder="LMV, MCWG, HMV"/>
                <input class='form-control form-item' type='text' name='Color' placeholder="Color"/>
                <input class='form-control form-item' type='submit'></input>
            </form>
        </div>
    </div>
</div>

{% endblock %}